{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <div>  
      <ul>Files list:
        {% for file in files_list %}
          <li><a href="{{ url_for('download', filename=file) }}">{{ file }}</a></li>
        {% endfor %}
      </ul>
      {% if files_list|length > 0 %}
        <a href="{{ url_for('download', filename='files_list.txt') }}">download files list</a>
      {% endif %}
      <h1>Upload a new file:</h1>
      <form action="upload" method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </div>
  {% endif %}
{% endblock %}