<!doctype html>
<title>Server</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Server</h1>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    
    <div class=metanav>
      {% block body %}{% endblock %}
      {% if session.logged_in %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% else %}
        <a href="{{ url_for('login') }}">login</a>
      {% endif %}
    </div>
    

</div>